title: "BXL2030"
description: "Du contenu à revoir d'urgence"
url: "https://ouaisfieu.github.io"
baseurl: "/bxl2030"    # ← Laisse vide si le site est à la racine (GitHub Pages utilisateur)

remote_theme: "mmistakes/minimal-mistakes"

plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-seo-tag

minimal_mistakes_skin: "dark"

navigation:
  items:
    - title: Accueil
      url: /
    - title: Tutoriel
      url: /tutorial/
    - title: Blog
      url: /blog/

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
  - scope:
      path: "tutorial"
      type: pages
    values:
      layout: single
      author_profile: false

# Auteur par défaut (à personnaliser)
author:
  name   : "ouaisfi.eu"
  avatar : "/assets/img/avatar.png"
  bio    : "Curieux·se."

# Réseaux sociaux (facultatif)
social:
  name: Ton Nom
  links:
    - https://github.com/USERNAME
    - https://bsky.app/profile/USERNAME.bsky.social

# SEO & open graph
seo:
  type: Website
  name: "Bxl2030"
  description: "Du contenu à revoir d'urgence"
  #  twitter:
    #  username: "@TonPseudo"
    #  card: summary_large_image

# Google Analytics (facultatif)
# google_analytics: ""

# Licence
copyright: "© Dont'be evil, just do it ©"

# Collection tutoriel (optionnelle si navigation dédiée)
collections:
  tutorial:
    output: true
    permalink: /tutorial/:path/
